#pane{
	-fx-background: #444444;
}
#pane3{
	-fx-background-color: #444444;
	-fx-border-color: #272727;
   	-fx-border-width: 2px 0 0 0;
}
.split-pane{
	-fx-background-color: transparent;
}
.split-pane > .split-pane-divider {  
    -fx-padding: 0 0.01em 0 0.01em;  
    -fx-background-color: transparent;
}
#grid-pane{
	-fx-background-color: #302F2F;
	-fx-border-color: #272727;
   	-fx-border-width: 0 2px 2px 2px;
}
.chart{
	-fx-background-color: #302F2F;
	-fx-border-color: #272727;
   	-fx-border-width: 2px;
}
.chart-plot-background {
    -fx-background-color: #302F2F;
}
.chart-legend {
   -fx-background-color:  transparent;
}
.chart-legend-item-symbol{
	-fx-background-color: transparent;
    -fx-background-size: 20px;
    -fx-background-image: url("../content/chartSymbol.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
    -fx-padding: 10;
}
.label{
	-fx-text-fill: #989898;
}
.table-view{
   -fx-background-color: transparent;
   -fx-border-color: #272727;
   -fx-border-width: 2px;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}
.table-view .column-header{
    -fx-background-color: transparent;
}
.table-row-cell{
	-fx-background-color: #302F2F;
	-fx-border-color: #989898;
   	-fx-border-width: 1px 0 0 0;
}
.table-view .table-cell{
    -fx-text-fill: #989898;
}